## **Topics: Dynamic Programming-Arrays-Dictionaries-String-Sorting-Searching-Math**
___

**1. House Robber**

You are a professional robber planning to rob houses along a street. Each house has a certain amount of money stashed, the only constraint stopping you from robbing each of them is that adjacent houses have security systems connected and it will automatically contact the police if two adjacent houses were broken into on the same night.

Given an integer array nums representing the amount of money of each house, return the maximum amount of money you can rob tonight without alerting the police.

 

Example 1:
Input: nums = [1,2,3,1]  
Output: 4  
Explanation: Rob house 1 (money = 1) and then rob house 3 (money = 3).  
Total amount you can rob = 1 + 3 = 4.  

Example 2:  
Input: nums = [2,7,9,3,1]  
Output: 12  
Explanation: Rob house 1 (money = 2), rob house 3 (money = 9) and rob house 5 (money = 1).  
Total amount you can rob = 2 + 9 + 1 = 12.

In [1]:
def rob(lst:list)->int:
    n = len(lst)
    if n==0:
        return 0
    
    dp = [0]*n
    dp[0] = lst[0]
     
    for i in range(1,n):
        if (i==1):
            dp[i] = max(lst[0], lst[1])
        else:
            dp[i] = max(dp[i-1], dp[i-2]+lst[i])
    
    return dp[-1]

In [2]:
rob([2,7,9,3,1])

12

**2. Best Time to Buy and Sell Stock**

You are given an array prices where prices[i] is the price of a given stock on the ith day.

You want to maximize your profit by choosing a single day to buy one stock and choosing a different day in the future to sell that stock.

Return the maximum profit you can achieve from this transaction. If you cannot achieve any profit, return 0.

 

Example 1:
Input: prices = [7,1,5,3,6,4]  
Output: 5  
Explanation: Buy on day 2 (price = 1) and sell on day 5 (price = 6), profit = 6-1 = 5.  
Note that buying on day 2 and selling on day 1 is not allowed because you must buy before you sell.  

Example 2:  
Input: prices = [7,6,4,3,1]  
Output: 0   
Explanation: In this case, no transactions are done and the max profit = 0.

In [3]:
def buynsell(prices:list)->int:
    
    buy_price = float('inf')
    profit = 0

    for price in prices:
        if(price < buy_price):
            buy_price = price
        else:
            profit = max(profit, price - buy_price)
    return profit

In [4]:
buynsell([7,1,5,3,6,4])

5

**3. Climbing Stairs**

You are climbing a staircase. It takes n steps to reach the top.

Each time you can either climb 1 or 2 steps. In how many distinct ways can you climb to the top?


Example 1:  
Input: n = 2  
Output: 2  
Explanation: There are two ways to climb to the top.  
1. 1 step + 1 step  
2. 2 steps  

Example 2:  
Input: n = 3  
Output: 3  
Explanation: There are three ways to climb to the top.  
1. 1 step + 1 step + 1 step  
2. 1 step + 2 steps  
3. 2 steps + 1 step

In [5]:
def climbingstairs(n:int)->int:
    if(n==1):
        return 1
    
    dp = [0]*(n+1)
    # 0 1 2 3 4
    # 0 1 2 3 4 5
    
    dp[1] = 1
    dp[2] = 2
    
    for i in range(3, n+1):
        dp[i] = dp[i-1]+dp[i-2]
        
    return dp[n]

In [6]:
climbingstairs(100)

573147844013817084101

**4. Maximum Subarray**

Given an integer array nums, find the contiguous subarray (containing at least one number) which has the largest sum and return its sum.

Example 1:  
Input: nums = [-2,1,-3,4,-1,2,1,-5,4]  
Output: 6  
Explanation: [4,-1,2,1] has the largest sum = 6.  

Example 2:  
Input: nums = [1]  
Output: 1  

Example 3:  
Input: nums = [5,4,-1,7,8]  
Output: 23

In [7]:
def maxSubArray(nums:list):
    current_subarray = max_subarray = nums[0]
    
    for num in nums[1:]:
        current_subarray = max(num, current_subarray + num)
        max_subarray = max(max_subarray, current_subarray)
    return max_subarray

In [8]:
maxSubArray( [-2,1,-3,4,-1,2,1,-5,4])

6

**5. Jump Game**

Given an array of non-negative integers nums, you are initially positioned at the first index of the array.

Each element in the array represents your maximum jump length at that position.

Determine if you are able to reach the last index.

 

Example 1:  
Input: nums = [2,3,1,1,4]  
Output: true  
Explanation: Jump 1 step from index 0 to 1, then 3 steps to the last index.  

Example 2:  
Input: nums = [3,2,1,0,4]  
Output: false  
Explanation: You will always arrive at index 3 no matter what. Its maximum jump length is 0, which makes it impossible to reach the last index.

In [9]:
def canJump(A):
        reachable = 0
        for i, length in enumerate(A):
            if i > reachable:
                break
            reachable = max(reachable, i + length)
        return reachable >= len(A) - 1

In [10]:
canJump([2,3,1,1,4])

True

**6. Move Zeroes**
  
Given an integer array nums, move all 0's to the end of it while maintaining the relative order of the non-zero elements.  
  
Note that you must do this in-place without making a copy of the array.  
  
 

Example 1:  
Input: nums = [0,1,0,3,12]  
Output: [1,3,12,0,0]  

Example 2:  
Input: nums = [0]  
Output: [0]

In [11]:
def movezeros(lst:list)->list:
    j=0
    l=len(lst)
    
    for i in lst:
        if i != 0:
            lst[j]=i
            j += 1

    for k in range(j,l):
        lst[k]=0
    return lst

In [12]:
movezeros([0,1,0,3,12])

[1, 3, 12, 0, 0]

In [13]:
movezeros([0])

[0]

**7. Boats to Save People**


You are given an array people where people[i] is the weight of the ith person, and an infinite number of boats where each boat can carry a maximum weight of limit. Each boat carries at most two people at the same time, provided the sum of the weight of those people is at most limit.

Return the minimum number of boats to carry every given person.  

 

Example 1:  
Input: people = [1,2], limit = 3  
Output: 1  
Explanation: 1 boat (1, 2)  

Example 2:  
Input: people = [3,2,2,1], limit = 3  
Output: 3  
Explanation: 3 boats (1, 2), (2) and (3)  

Example 3:  
Input: people = [3,5,3,4], limit = 5  
Output: 4  
Explanation: 4 boats (3), (3), (4), (5)

In [14]:
def savepeople(lst:list, limit:int)->int:
    
    lst.sort()
    
    l=0
    r=len(lst)-1
    b=0
    
    
    while l<=r:
        if l==r:
            b+=1
            break
        
        if (lst[r]+lst[l]<=limit):
            l+=1
        
        b=b+1
        r-=1
    return b

In [15]:
savepeople([2,1],3)

1

**8. Valid Mountain Array**

Given an array of integers arr, return true if and only if it is a valid mountain array.  

Recall that arr is a mountain array if and only if:  
  
arr.length >= 3  
There exists some i with 0 < i < arr.length - 1 such that:  
arr[0] < arr[1] < ... < arr[i - 1] < arr[i]  
arr[i] > arr[i + 1] > ... > arr[arr.length - 1]  

   

Example 1:  
Input: arr = [2,1]  
Output: false  

Example 2:  
Input: arr = [3,5,5]  
Output: false  

Example 3:  
Input: arr = [0,3,2,1]  
Output: true

In [16]:
def hill(lst):
    if len(lst)<3:
        return False
    
    i=1
    while (i<len(lst) and lst[i-1]<lst[i]):
        i+=1
    
    if i == len(lst) or i==1:
        return False
    
    while (i<len(lst) and lst[i]<lst[i-1]):
        i +=1
        
    return i==len(lst)

In [17]:
hill([0,3,2,1])

True

**9. Container With Most Water**

Given n non-negative integers a1, a2, ..., an , where each represents a point at coordinate (i, ai). n vertical lines are drawn such that the two endpoints of the line i is at (i, ai) and (i, 0). Find two lines, which, together with the x-axis forms a container, such that the container contains the most water.

Notice that you may not slant the container.

Input: height = [1,8,6,2,5,4,8,3,7]  
Output: 49

In [18]:
def mostwater(A):
    left = 0
    right = len(A)-1
    area = 0
    
    while left<=right:
        area = max(area, min(A[left], A[right])*(right-left))
        
        if A[left]<A[right]:
            left+=1
        else:
            right-=1
    
    return area

In [19]:
mostwater([1,8,6,2,5,4,8,3,7])

49

**10. Longest Substring Without Repeating Characters**

Given a string s, find the length of the longest substring without repeating characters.

 

Example 1:  
Input: s = "abcabcbb"  
Output: 3  
Explanation: The answer is "abc", with the length of 3.  

Example 2:  
Input: s = "bbbbb"  
Output: 1  
Explanation: The answer is "b", with the length of 1.  

Example 3:  
Input: s = "pwwkew"  
Output: 3  
Explanation: The answer is "wke", with the length of 3.  
Notice that the answer must be a substring, "pwke" is a subsequence and not a substring.  

Example 4:  
Input: s = ""  
Output: 0

In [20]:
def longestSubstring(s:str) -> int:
    m = {}
    left = 0
    right = 0
    ans = 0
    n = len(s)
    while(left<n and right<n):
        el = s[right]
        if(el in m):
            left = max(left,m[el]+1)
        m[el] = right
        ans = max(ans,right-left+1)
        right+=1
    return ans

In [21]:
s = "abcabcbb"
longestSubstring(s)

3

In [22]:
s =""
longestSubstring(s)

0

In [23]:
 s = "pwwkew"
longestSubstring(s)

3

In [24]:
s ='bbb'
longestSubstring(s)

1

**11. Find First and Last Position of Element in Sorted Array**

Given an array of integers nums sorted in ascending order, find the starting and ending position of a given target value.  

If target is not found in the array, return [-1, -1].  

You must write an algorithm with O(log n) runtime complexity.  

 

Example 1:  
Input: nums = [5,7,7,8,8,10], target = 8  
Output: [3,4]  

Example 2:  
Input: nums = [5,7,7,8,8,10], target = 6  
Output: [-1,-1]  

Example 3:  
Input: nums = [], target = 0  
Output: [-1,-1]

In [25]:
def searchfirst(A:list, tar:int)->list:
    left=0
    right=len(A)-1

    while(left<=right):
        mid = (left+right)//2
        if(A[mid]==tar):
            if ((mid-1)>0 and A[mid-1]!=tar or mid==0):
                return mid
            right = mid-1
        elif(A[mid]>tar):
            right = mid-1
        else:
            left=mid+1
    return -1


def searchlast(A:list, tar:int)->list:
    left=0
    right=len(A)-1

    while(left <= right):
        mid = left+(right-left)//2
        if(A[mid] == tar):
            if((mid+1)<len(A) and A[mid+1]!=tar or mid == len(A)-1):
                return mid
            left = mid+1
        elif(A[mid] > tar):
            right = mid-1
        else:
            left = mid+1

    return -1


def firstnlast(A:list, tar:int)->list:
    left = searchfirst(A, tar)
    right = searchlast(A, tar)

    return [left, right]

In [26]:
firstnlast([5,7,7,8,8,10],8)

[3, 4]

**12. First bad version**

You are a product manager and currently leading a team to develop a new product. Unfortunately, the latest version of your product fails the quality check. Since each version is developed based on the previous version, all the versions after a bad version are also bad.

Suppose you have n versions [1, 2, ..., n] and you want to find out the first bad one, which causes all the following ones to be bad.

You are given an API bool isBadVersion(version) which returns whether version is bad. Implement a function to find the first bad version. You should minimize the number of calls to the API.

 

Example 1:  

Input: n = 5, bad = 4  
Output: 4  
Explanation:  
call isBadVersion(3) -> false  
call isBadVersion(5) -> true  
call isBadVersion(4) -> true  
Then 4 is the first bad version.  
Example 2:  

Input: n = 1, bad = 1  
Output: 1

In [27]:
def firstBadVersion(self, n):
    left = 1
    right = n

    while(left < right):
        mid = left+(right-left)//2
        if not isBadVersion(mid):
            left = mid+1
        else:
            right = mid
    return left

**13. Remove Duplicates from Sorted Array**

Given an integer array nums sorted in non-decreasing order, remove the duplicates in-place such that each unique element appears only once. The relative order of the elements should be kept the same.

Since it is impossible to change the length of the array in some languages, you must instead have the result be placed in the first part of the array nums. More formally, if there are k elements after removing the duplicates, then the first k elements of nums should hold the final result. It does not matter what you leave beyond the first k elements.

Return k after placing the final result in the first k slots of nums.

Do not allocate extra space for another array. You must do this by modifying the input array in-place with O(1) extra memory.

Example 1:  
Input: nums = [1,1,2]  
Output: 2, nums = [1,2,_]  
Explanation: Your function should return k = 2, with the first two elements of nums being 1 and 2 respectively.
It does not matter what you leave beyond the returned k (hence they are underscores).  

Example 2:  
Input: nums = [0,0,1,1,1,2,2,3,3,4]  
Output: 5, nums = [0,1,2,3,4,_ ,_ ,_ ,_ ,_]  
Explanation: Your function should return k = 5, with the first five elements of nums being 0, 1, 2, 3, and 4 respectively.
It does not matter what you leave beyond the returned k (hence they are underscores).

In [28]:
def removeDuplicates(A):
    i = 0
    j = 0
    
    while j < len(A):
        if A[j]!=A[i]:
            i += 1
            A[i]=A[j]
        j+=1
    
    unique = i+1
    
    for num in range(i+1, len(A)):
        A[num]="_"
    
    return unique, A

In [29]:
removeDuplicates([0,0,1,1,1,2,2,3,3,4])

(5, [0, 1, 2, 3, 4, '_', '_', '_', '_', '_'])

**14. Remove Element**

Given an integer array nums and an integer val, remove all occurrences of val in nums in-place. The relative order of the elements may be changed.

Since it is impossible to change the length of the array in some languages, you must instead have the result be placed in the first part of the array nums. More formally, if there are k elements after removing the duplicates, then the first k elements of nums should hold the final result. It does not matter what you leave beyond the first k elements.

Return k after placing the final result in the first k slots of nums.

Do not allocate extra space for another array. You must do this by modifying the input array in-place with O(1) extra memory.  

Example 1:  
Input: nums = [3,2,2,3], val = 3  
Output: 2, nums = [2,2,_,_]  
Explanation: Your function should return k = 2, with the first two elements of nums being 2.  
It does not matter what you leave beyond the returned k (hence they are underscores).  

Example 2:  
Input: nums = [0,1,2,2,3,0,4,2], val = 2  
Output: 5, nums = [0,1,4,0,3,_,_,_]  
Explanation: Your function should return k = 5, with the first five elements of nums containing 0, 0, 1, 3, and 4.  
Note that the five elements can be returned in any order.  
It does not matter what you leave beyond the returned k (hence they are underscores).

In [30]:
 def removeElement(A, elem):
        i =0
        j = len(A)-1
        while i <= j:
            if A[i] == elem:
                A[i], A[j] = A[j], A[i]
                j-= 1
            else:
                i += 1
        return j + 1, A

In [31]:
removeElement([0,1,2,2,3,0,4,2,2], 2)

(5, [0, 1, 4, 0, 3, 2, 2, 2, 2])

**15. Majority Element**

Given an array nums of size n, return the majority element.  
  
The majority element is the element that appears more than ⌊n / 2⌋ times. You may assume that the majority element always exists in the array.  

 

Example 1:  
Input: nums = [3,2,3]  
Output: 3  

Example 2:  
Input: nums = [2,2,1,1,1,2,2]  
Output: 2

In [32]:
def MajorityElement(A):
    d = {}
    for i in A:
        if i in d:
            d[i]+=1
        else:
            d[i] = 1
    
    for key, val in d.items():
        if val>len(A)//2:
            return

In [33]:
MajorityElement([3,2,3])

**16. Shortest Word Distance**  


Given a list of words and two words word1 and word2, return the shortest distance between these two words in the list.

For example, Assume that words = ["practice", "makes", "perfect", "coding", "makes"].

Given word1 = “coding”, word2 = “practice”, return 3. Given word1 = "makes", word2 = "coding", return 1.

In [34]:
def shortdistance(A, w1, w2):
    dist = float('inf')
    idx1 = None
    idx2 = None
    for idx, word in enumerate(A):
        if word == w1:
            idx1=idx
        elif word == w2:
            idx2=idx
    
        if idx1 is not None and idx2 is not None:
            dist = min(dist, abs(idx1-idx2))
    return dist

In [35]:
shortdistance(["practice", "makes", "perfect", "coding", "makes","practice"],w1='coding', w2 = 'practice')

2

**17. Fizz Buzz**

Given an integer n, return a string array answer (1-indexed) where:  
  
answer[i] == "FizzBuzz" if i is divisible by 3 and 5.  
answer[i] == "Fizz" if i is divisible by 3.  
answer[i] == "Buzz" if i is divisible by 5.  
answer[i] == i if non of the above conditions are true.   
  
Example 1:  
Input: n = 3  
Output: ["1","2","Fizz"]  

Example 2:  
Input: n = 5  
Output: ["1","2","Fizz","4","Buzz"]  

Example 3:  
Input: n = 15  
Output: ["1","2","Fizz","4","Buzz","Fizz","7","8","Fizz","Buzz","11","Fizz","13","14","FizzBuzz"]

In [36]:
def FizzBuzz(n):
    lst=[]
    for num in range(1,n+1):
        if num%3==0 and num%5==0:
            lst.append("FizzBuzz")
        elif num%3==0:
            lst.append("Fizz")
        elif num%5==0:
            lst.append("Buzz")
        else:
            lst.append(num)
    return lst

In [37]:
FizzBuzz(12)

[1, 2, 'Fizz', 4, 'Buzz', 'Fizz', 7, 8, 'Fizz', 'Buzz', 11, 'Fizz']

**18. Third Maximum Number**

Given integer array nums, return the third maximum number in this array. If the third maximum does not exist, return the maximum number.  
  
Example 1:  
Input: nums = [3,2,1]  
Output: 1  
Explanation: The third maximum is 1.  

Example 2:  
Input: nums = [1,2]  
Output: 2  
Explanation: The third maximum does not exist, so the maximum (2) is returned instead.  

Example 3:  
Input: nums = [2,2,3,1]  
Output: 1  
Explanation: Note that the third maximum here means the third maximum distinct number.  
Both numbers with value 2 are both considered as second maximum.

In [38]:
def thirdlargest(nums:list)->int:
    count = 0
    top = [float("-inf")]*3
    
    for num in nums:
        if num >top[0]:
            top[0], top[1],top[2] = num, top[0], top[1]
            count += 1
        elif num!=top[0] and num> top[1]:
            top[1],top[2] = num, top[1]
            count +=1
        elif num!=top[0] and num !=top[1] and num>=top[2]:
            top[2] = num
            count +=1
            
    if count <3:
        return top[0]
    return top[2]

In [39]:
thirdlargest([2,2,3,1])

1

**19. Valid Word Square**

Given a sequence of words, check whether it forms a .

A sequence of words forms a valid word square if the k^th row and column read the exact same string, where 0 ≤ k < max(numRows, numColumns).

Example 

Example1  
Input:  
[
  "abcd",
  "bnrt",
  "crmy",
  "dtye"
]  
Output: true    
Explanation:    
The first row and first column both read "abcd".
The second row and second column both read "bnrt".
The third row and third column both read "crmy".
The fourth row and fourth column both read "dtye".
  
Therefore, it is a valid word square.  

Example2   
Input:  
[
  "abcd",
  "bnrt",
  "crm",
  "dt"
]  
Output: true  
Explanation:  
The first row and first column both read "abcd".
The second row and second column both read "bnrt".
The third row and third column both read "crm".
The fourth row and fourth column both read "dt".
  
Therefore, it is a valid word square.

Example3
Input:    
[
  "ball",
  "area",
  "read",
  "lady"
]  
Output: false  
Explanation: 
The third row reads "read" while the third column reads "lead".

Therefore, it is NOT a valid word square.

In [40]:
def validsquare(A:list)->bool:
    for i in range(len(words)):
        for j in range(len(words(i))):
            if j>= len(words) or i>=len(word[j]) or words[j][i]!=words[i][j]:
                return False
    return True

**20. Find All Numbers Disappeared in an Array**

Given an array nums of n integers where nums[i] is in the range [1, n], return an array of all the integers in the range [1, n] that do not appear in nums.  
  
 

Example 1:  
Input: nums = [4,3,2,7,8,2,3,1]  
Output: [5,6]  

Example 2:  
Input: nums = [1,1]  
Output: [2]

In [41]:
def missingnumbers(A:list)->list:
    return list(set(range(1, len(A) + 1)) - set(A))

In [42]:
missingnumbers([4,3,2,7,8,2,3,1])

[5, 6]

**21. Find All Duplicates in an Array**

Given an integer array nums of length n where all the integers of nums are in the range [1, n] and each integer appears once or twice, return an array of all the integers that appears twice.

You must write an algorithm that runs in O(n) time and uses only constant extra space.

 

Example 1:  
Input: nums = [4,3,2,7,8,2,3,1]  
Output: [2,3]  

Example 2:  
Input: nums = [1,1,2]  
Output: [1]  

Example 3:  
Input: nums = [1]  
Output: []

In [43]:
def findduplicates(A:list)->list:
    lst=[]
    d = {}
    for num in A:
        if num not in d:
            d[num] = True
        else:
            lst.append(num)
    return lst

In [44]:
findduplicates([4,3,2,7,8,2,3,1])

[2, 3]

In [45]:
findduplicates([1])

[]

**22. Shortest Unsorted Continuous Subarray**

Given an integer array nums, you need to find one continuous subarray that if you only sort this subarray in ascending order, then the whole array will be sorted in ascending order.

Example 1:  
Input: nums = [2,6,4,8,10,9,15]  
Output: 5  
Explanation: You need to sort [6, 4, 8, 10, 9] in ascending order to make the whole array sorted in ascending order.  

Example 2:  
Input: nums = [1,2,3,4]  
Output: 0  

Example 3:  
Input: nums = [1]  
Output: 0

In [46]:
def unsortedwindow(A:list)->list:
    left=0
    right=len(A)-1

    if right==left:
        return 0
  
    while left<=right:
        if left+1<len(A)and A[left]<A[left+1]:
            left+=1
        else:
            break
            
    while left<=right:
        if right-1>=0 and A[right]>A[right-1]:
            right-=1
        else:
            break
    
    return right-left+1

In [47]:
unsortedwindow([1])

0

**23. Can Place Flowers**

You have a long flowerbed in which some of the plots are planted, and some are not. However, flowers cannot be planted in adjacent plots.

Given an integer array flowerbed containing 0's and 1's, where 0 means empty and 1 means not empty, and an integer n, return if n new flowers can be planted in the flowerbed without violating the no-adjacent-flowers rule.

Example 1:
Input: flowerbed = [1,0,0,0,1], n = 1  
Output: true  

Example 2:  
Input: flowerbed = [1,0,0,0,1], n = 2  
Output: false

In [48]:
def flowerbed(A:list, n:int)->bool:
    count = 0
    
    for i in range(len(A)):
        if i==0 and A[i]==0 and A[i+1]==0:
            count+=1
        elif i==len(A)-1 and A[i]==0 and A[i-1]==0:
            count+=1
        elif A[i-1]==0 and  A[i]==0 and A[i+1]==0:
                count+=1
    
    return count>=n

In [49]:
flowerbed([1,0,0,0,1,0,1,0,0],2)

True

**24. Maximum Average Subarray**  
Find a contiguous subarray whose length is equal to k that has the maximum average value and return this value. Any answer with a calculation error less than 10-5 will be accepted.

Example 1:  
Input: nums = [1,12,-5,-6,50,3], k = 4  
Output: 12.75000  
Explanation: Maximum average is (12 - 5 - 6 + 50) / 4 = 51 / 4 = 12.75  

Example 2:  
Input: nums = [5], k = 1  
Output: 5.00000

In [50]:
def MaxAvgSubarray(A:list,k):
    i=0
    j=k
    avg = 0

    while j <= len(A):
        curr_avg = sum(A[i:j])/k
        avg = max(avg, curr_avg)
        i+=1
        j+=1
    
    return avg

In [51]:
MaxAvgSubarray([5], 1)

5.0

**25. Non-decreasing Array**

Given an array nums with n integers, your task is to check if it could become non-decreasing by modifying at most one element.

We define an array is non-decreasing if nums[i] <= nums[i + 1] holds for every i (0-based) such that (0 <= i <= n - 2).

Example 1:  
Input: nums = [4,2,3]  
Output: true  
Explanation: You could modify the first 4 to 1 to get a non-decreasing array.  

Example 2:  
Input: nums = [4,2,1]  
Output: false  
Explanation: You can't get a non-decreasing array by modify at most one element.

In [52]:
def nd(A:list):
    i=0
    count = 0
    while i+1<len(A):
        if A[i]>A[i+1]:
            count +=1
        i+=1
    return count == 1

In [53]:
nd([4,2,3])

True

**26. Longest Continuous Increasing Subsequence**

Given an unsorted array of integers nums, return the length of the longest continuous increasing subsequence (i.e. subarray). The subsequence must be strictly increasing.  

A continuous increasing subsequence is defined by two indices l and r (l < r) such that it is [nums[l], nums[l + 1], ..., nums[r - 1], nums[r]] and for each l <= i < r, nums[i] < nums[i + 1].  

 

Example 1:  
Input: nums = [1,3,5,4,7]  
Output: 3  
Explanation: The longest continuous increasing subsequence is [1,3,5] with length 3.  
Even though [1,3,5,7] is an increasing subsequence, it is not continuous as elements 5 and 7 are separated by element 4.

Example 2:  
Input: nums = [2,2,2,2,2]  
Output: 1  
Explanation: The longest continuous increasing subsequence is [2] with length 1. Note that it must be strictly increasing.

In [54]:
def solution(nums):
    result, count = 0, 0
    for i in range(len(nums)):
        if i == 0 or nums[i-1] < nums[i]:
            count += 1
            result = max(result, count)
        else:
            count = 1
    return result

In [55]:
solution([1,3,5,4,7])

3

**27. Longest Increasing Subsequence**

Given an integer array nums, return the length of the longest strictly increasing subsequence.

A subsequence is a sequence that can be derived from an array by deleting some or no elements without changing the order of the remaining elements. For example, [3,6,2,7] is a subsequence of the array [0,3,1,6,2,2,7].  

 

Example 1:  
Input: nums = [10,9,2,5,3,7,101,18]  
Output: 4  
Explanation: The longest increasing subsequence is [2,3,7,101], therefore the length is 4.  

Example 2:  
Input: nums = [0,1,0,3,2,3]  
Output: 4  

Example 3:  
Input: nums = [7,7,7,7,7,7,7]  
Output: 1

In [56]:
def lengthOfLIS(nums):
    dp = [1] * len(nums)
    for i in range(1, len(nums)):
        for j in range(i):
            if nums[i] > nums[j]:
                dp[i] = max(dp[i], dp[j] + 1)

    return max(dp)

In [57]:
lengthOfLIS([10,9,2,5,3,7,101,18])

4

**28. Find Pivot Index**

Given an array of integers nums, calculate the pivot index of this array.

The pivot index is the index where the sum of all the numbers strictly to the left of the index is equal to the sum of all the numbers strictly to the index's right.

If the index is on the left edge of the array, then the left sum is 0 because there are no elements to the left. This also applies to the right edge of the array.

Return the leftmost pivot index. If no such index exists, return -1.

 

Example 1:  
Input: nums = [1,7,3,6,5,6]  
Output: 3  
Explanation:  
The pivot index is 3. 
Left sum = nums[0] + nums[1] + nums[2] = 1 + 7 + 3 = 11  
Right sum = nums[4] + nums[5] = 5 + 6 = 11  

Example 2:  
Input: nums = [1,2,3]  
Output: -1  
Explanation:  
There is no index that satisfies the conditions in the problem statement.  

Example 3:  
Input: nums = [2,1,-1]  
Output: 0  
Explanation:  
The pivot index is 0.  
Left sum = 0 (no elements to the left of index 0)  
Right sum = nums[1] + nums[2] = 1 + -1 = 0

In [58]:
def pivotIndex(nums):
        S = sum(nums)
        leftsum = 0
        for i, x in enumerate(nums):
            if leftsum == (S - leftsum - x):
                return i
            leftsum += x
        return -1

In [59]:
pivotIndex([1,7,3,6,5,6])

3

**29. Coin Change**

You are given an integer array coins representing coins of different denominations and an integer amount representing a total amount of money.

Return the fewest number of coins that you need to make up that amount. If that amount of money cannot be made up by any combination of the coins, return -1.

You may assume that you have an infinite number of each kind of coin.

Example 1:  
Input: coins = [1,2,5], amount = 11  
Output: 3  
Explanation: 11 = 5 + 5 + 1  

Example 2:  
Input: coins = [2], amount = 3  
Output: -1  

Example 3:  
Input: coins = [1], amount = 0  
Output: 0  

Example 4:  
Input: coins = [1], amount = 1  
Output: 1  

Example 5:  
Input: coins = [1], amount = 2  
Output: 2

In [60]:
def coinChange(coins, amount):
        INF = 0x7fffffff  # Using float("inf") would be slower. Max valueif Int32
        dp = [INF] * (amount + 1)
        dp[0] = 0
        for i in range(amount + 1):
            if dp[i] != INF:
                for coin in coins:
                    if i + coin <= amount:
                        dp[i + coin] = min(dp[i + coin], dp[i] + 1)
        return dp[amount] if dp[amount] != INF else -1

In [61]:
def coinChange(coins, amount):
    if amount <= 0:
        return 0

    if min(coins) > amount:
        return -1

    INT_MAX = 1<<32 # same as multiplying 1*2^32, x << y Returns x with the bits shifted to the left by y places
    dp = [INT_MAX] * (amount +1)

    dp[0] = 0

    for i in range(1, amount + 1):
        for coin in coins:
            if coin <= i:
                dp[i] = min((dp[i-coin] + 1), dp[i])

    return dp[amount] if dp[amount] != INT_MAX else -1

In [62]:
coinChange([1,2,5],11)

3

**30. Rotate Array**

Given an array, rotate the array to the right by k steps, where k is non-negative.

 

Example 1:  
Input: nums = [1,2,3,4,5,6,7], k = 3  
Output: [5,6,7,1,2,3,4]  
Explanation:  
rotate 1 steps to the right: [7,1,2,3,4,5,6]  
rotate 2 steps to the right: [6,7,1,2,3,4,5]  
rotate 3 steps to the right: [5,6,7,1,2,3,4]  

Example 2:  
Input: nums = [-1,-100,3,99], k = 2  
Output: [3,99,-1,-100]  
Explanation:   
rotate 1 steps to the right: [99,-1,-100,3]  
rotate 2 steps to the right: [3,99,-1,-100]

In [63]:
def rotateArray(A, k):
    result = A[-k:]+A[:len(A)-k]
    return result

In [64]:
rotateArray([1,2,3,4,5,6,7],3)

[5, 6, 7, 1, 2, 3, 4]

In [65]:
rotateArray([-1,-100,3,99],2)

[3, 99, -1, -100]

In [66]:
def rotate(nums, k):
    n = len(nums)
    k = k%n
    
    start=0
    count=0
    
    while count<n:
        current, prev = start, num[start]
        while True:
            next_idx=(current+k)%n
            num[next_idx], prev = prev, num[next_idx]
            current = next_idx
            count+=1
            
            if start==current:
                break
        start += 1

**31. Single Number**

Given a non-empty array of integers nums, every element appears twice except for one. Find that single one.

You must implement a solution with a linear runtime complexity and use only constant extra space.


Example 1:  
Input: nums = [2,2,1]  
Output: 1  

Example 2:  
Input: nums = [4,1,2,1,2]  
Output: 4  
  
Example 3:  
Input: nums = [1]  
Output: 1

In [67]:
def singleNumber(A):
    lst = []
    for num in A:
        if num in lst:
            lst.remove(num)
        else:
            lst.append(num)
    return lst.pop()

In [68]:
singleNumber([4,1,2,1,2])

4

In [69]:
def singleNumber(A):
    d={}
    for num in A:
        if num in d:
            d[num]=+1
        else:
            d[num]=1
    
    for num in d:
        if d[num] == 1:
            return num

In [70]:
def singleNumber(A):
    return 2*sum(set(A))-sum(A)

**32. Plus One**

Given a non-empty array of decimal digits representing a non-negative integer, increment one to the integer.

The digits are stored such that the most significant digit is at the head of the list, and each element in the array contains a single digit.

You may assume the integer does not contain any leading zero, except the number 0 itself.


Example 1:  
Input: digits = [1,2,3]  
Output: [1,2,4]  
Explanation: The array represents the integer 123.  
  
Example 2:  
Input: digits = [4,3,2,1]  
Output: [4,3,2,2]  
Explanation: The array represents the integer 4321.  

Example 3:  
Input: digits = [0]  
Output: [1]

In [71]:
def plusOne(A):
    
    i = len(A)-1
    
    while i>=0:
        if A[i] == 9:
            A[i] = 0
            i-=1
        else:
            A[i] = A[i]+1
            return A
        
    return [1]+A

In [72]:
plusOne([9,9,9])

[1, 0, 0, 0]

**33. Rotate Image**

You are given an n x n 2D matrix representing an image, rotate the image by 90 degrees (clockwise).

You have to rotate the image in-place, which means you have to modify the input 2D matrix directly. DO NOT allocate another 2D matrix and do the rotation.

Example 1:  
Input: matrix = [[1,2,3],[4,5,6],[7,8,9]]  
Output: [[7,4,1],[8,5,2],[9,6,3]]  
  
Example 2:  
Input: matrix = [[5,1,9,11],[2,4,8,10],[13,3,6,7],[15,14,12,16]]  
Output: [[15,13,2,5],[14,3,4,1],[12,6,8,9],[16,7,10,11]]  
  
Example 3:  
Input: matrix = [[1]]  
Output: [[1]]  
   
Example 4:  
Input: matrix = [[1,2],[3,4]]  
Output: [[3,1],[4,2]]

In [73]:
def transpose(matrix):
    n = len(matrix)
    for i in range(n):
        for j in range(i, n):
            matrix[j][i], matrix[i][j] = matrix[i][j], matrix[j][i]

In [74]:
def reflect(matrix):
    n = len(matrix)
    for i in range(n):
        for j in range(n // 2):
            matrix[i][j], matrix[i][-j - 1] = matrix[i][-j - 1], matrix[i][j]

In [75]:
def rotate(matrix):
    transpose(matrix)
    reflect(matrix)
    return matrix

In [76]:
rotate([[5,1,9,11],[2,4,8,10],[13,3,6,7],[15,14,12,16]])

[[15, 13, 2, 5], [14, 3, 4, 1], [12, 6, 8, 9], [16, 7, 10, 11]]

**34. Contains Duplicate**

Given an integer array nums, return true if any value appears at least twice in the array, and return false if every element is distinct.

Example 1:  
Input: nums = [1,2,3,1]  
Output: true  

Example 2:  
Input: nums = [1,2,3,4]  
Output: false  

Example 3:  
Input: nums = [1,1,1,3,3,4,3,2,4,2]  
Output: true

In [77]:
def checkDuplicate(A):
    d={}
    for i in A:
        if i in d:
            return d[i]
        else:
            d[i] = True
    return False

In [78]:
checkDuplicate([1,2,3,4])

False

In [79]:
checkDuplicate([1,2,3,1])

True

**35. Intersection of Two Arrays II**

Given two integer arrays nums1 and nums2, return an array of their intersection. Each element in the result must appear as many times as it shows in both arrays and you may return the result in any order.

Example 1:  
  
Input: nums1 = [1,2,2,1], nums2 = [2,2]  
Output: [2,2]  
Example 2:  

Input: nums1 = [4,9,5], nums2 = [9,4,9,8,4]  
Output: [4,9]  
Explanation: [9,4] is also accepted.

In [80]:
def intersection(A1,A2):
    lst=[]
    d1,d2={},{}
    for i in A1:
        d1[i] = True
        
    for i in A2:
        d2[i]=True
    
    if len(d1)>=len(d2):
        for key,val in d2.items():
            if key in d1:
                lst.append(key)
    else:
        for key, val in d1.items():
            if key in d2:
                lst.append(key)
    
    return lst

In [81]:
intersection([4,9,5],[9,4,9,8,4])

[9, 4]

**36. Reverse String**

Write a function that reverses a string. The input string is given as an array of characters s.

 

Example 1:  
Input: s = ["h","e","l","l","o"]  
Output: ["o","l","l","e","h"]  

Example 2:  
Input: s = ["H","a","n","n","a","h"]  
Output: ["h","a","n","n","a","H"]  

Do not allocate extra space for another array. You must do this by modifying the input array in-place with O(1) extra memory.

In [82]:
def reverse(A):
    for i in range(len(A)//2):
        A[i],A[-1-i] = A[-1-i],A[i]
    return A

In [83]:
reverse(["H","a","n","n","a","h"])

['h', 'a', 'n', 'n', 'a', 'H']

In [84]:
reverse(["h","e","l","l","o"])

['o', 'l', 'l', 'e', 'h']

In [85]:
def reverseString(s):
    left, right = 0, len(s) - 1
    while left < right:
        s[left], s[right] = s[right], s[left]
        left, right = left + 1, right - 1
    return s

In [86]:
reverseString(["h","e","l","l","o"])

['o', 'l', 'l', 'e', 'h']

**37. Reverse Integer**

Given a signed 32-bit integer x, return x with its digits reversed. If reversing x causes the value to go outside the signed 32-bit integer range [-231, 231 - 1], then return 0.

Assume the environment does not allow you to store 64-bit integers (signed or unsigned).


Example 1:
Input: x = 123
Output: 321

Example 2:
Input: x = -123
Output: -321

Example 3:
Input: x = 120
Output: 21

Example 4:
Input: x = 0
Output: 0
 
Constraints:
$-2^{31} <= x <= 2^{31} - 1$

In [87]:
def reverse(x):
    
    abx = abs(x)
    new_number = 0
    while abx:
        last_digit = abx%10
        new_number = new_number*10 + last_digit
        abx = abx//10
    
    if x < 0:
        return -1*new_number
    else: 
        return new_number

In [88]:
reverse(-234)

-432

In [89]:
reverse(123)

321

**38. First Unique Character in a String**

Given a string s, return the first non-repeating character in it and return its index. If it does not exist, return -1.

 

Example 1:  
Input: s = "leetcode"  
Output: 0  

Example 2:  
Input: s = "loveleetcode"  
Output: 2  

Example 3:  
Input: s = "aabb"  
Output: -1  
 

Constraints:

1 <= s.length <= $10^5$
s consists of only lowercase English letters.

In [90]:
def firstUnique(s):
    d={}
    for ch in s:
        if ch not in d:
            d[ch] = 1
        else:
            d[ch] += 1
    
    for idx,ch in enumerate(s):
        if d[ch]==1:
            return idx
    
    return -1

In [91]:
firstUnique("loveleetcode")

2

**39. Valid Anagram**

Given two strings s and t, return true if t is an anagram of s, and false otherwise.

 

Example 1:   
Input: s = "anagram", t = "nagaram"  
Output: true  
  
Example 2:  
Input: s = "rat", t = "car"  
Output: false  
 
 
Constraints:  
  
1 <= s.length, t.length <= 5 * 104  
s and t consist of lowercase English letters.

In [92]:
def isAnagram(s, t): 
    x = set(s+t)
    for i in x:
        if s.count(i) != t.count(i):
            return False
        else:
            continue
    return True

In [93]:
s = "anagram"
t = "nagaram"
isAnagram(s, t)

True

In [94]:
s = "rat"
t = "car"
isAnagram(s, t)

False

In [95]:
import collections
def isAnagram(s,t):
    return collections.Counter(s)==collections.Counter(t)

**40. Valid Palindrome**

Given a string s, determine if it is a palindrome, considering only alphanumeric characters and ignoring cases.  

Example 1:  
Input: s = "A man, a plan, a canal: Panama"  
Output: true  
Explanation: "amanaplanacanalpanama" is a palindrome.  

Example 2:  
Input: s = "race a car"  
Output: false  
Explanation: "raceacar" is not a palindrome.

In [96]:
import re
def isPalindrome(s):
    s = ''.join(re.findall(r'\w+',s)).lower()
    return s == s[::-1]

In [97]:
def isPalindrome(s):
    s = re.sub(r'\W', '', s).lower()
    return s == s[::-1]

**41. Longest Common Prefix**

Write a function to find the longest common prefix string amongst an array of strings.

If there is no common prefix, return an empty string "".

 

Example 1:  
Input: strs = ["flower","flow","flight"]  
Output: "fl"  
  
Example 2:  
Input: strs = ["dog","racecar","car"]  
Output: ""  
Explanation: There is no common prefix among the input strings.  
 

Constraints:  

1 <= strs.length <= 200  
0 <= strs[i].length <= 200  
strs[i] consists of only lower-case English letters.

In [98]:
A = ["flower","flow","flight"]

In [99]:
def counter(A, idx, letter):
    for word in A[1:]:
        if letter not in word[idx]:
            return False
    return True

In [100]:
def LCP(A):
    A = sorted(A, key=len)
    if len(A)==0:
        return ""
    elif len(A)==1:
        return A[0]
    else:
        first_word = A[0]
        idx=0
        for letter in first_word:
            if counter(A, idx, letter):
                idx +=1
            else:
                break
        return first_word[:idx]

In [101]:
LCP(A)

'fl'

**42. Two Sum II - Input array is sorted**

Given an array of integers numbers that is already sorted in non-decreasing order, find two numbers such that they add up to a specific target number.

Return the indices of the two numbers (1-indexed) as an integer array answer of size 2, where 1 <= answer[0] < answer[1] <= numbers.length.

The tests are generated such that there is exactly one solution. You may not use the same element twice.

 

Example 1:

Input: numbers = [2,7,11,15], target = 9  
Output: [1,2]  
Explanation: The sum of 2 and 7 is 9. Therefore index1 = 1, index2 = 2.  
Example 2:  
  
Input: numbers = [2,3,4], target = 6  
Output: [1,3]  
Example 3:  
  
Input: numbers = [-1,0], target = -1  
Output: [1,2]

In [102]:
def twosum(A,target):
    i=0
    j=len(A)-1
    lst=[]
    while i!=j:
        if A[i]+A[j]==target:
            return [i+1,j+1]
        elif A[i]+A[j]>target:
            j-=1
        elif A[i]+A[j]<targer:
            i+=1

In [103]:
twosum([-1,0],-1)

[1, 2]

**43. 3Sum**

Given an integer array nums, return all the triplets [nums[i], nums[j], nums[k]] such that i != j, i != k, and j != k, and nums[i] + nums[j] + nums[k] == 0.

Notice that the solution set must not contain duplicate triplets.

 

Example 1:  
Input: nums = [-1,0,1,2,-1,-4]  
Output: [[-1,-1,2],[-1,0,1]]  
  
Example 2:  
Input: nums = []  
Output: []  
  
Example 3:  
Input: nums = [0]  
Output: []  
 

Constraints:  

0 <= nums.length <= 3000
-105 <= nums[i] <= 105

In [104]:
def threesum(A):
    lst=[]
    A.sort()
    
    for i, a in enumerate(A):
        if i>0 and a==A[i-1]:
            continue
        l = i+1
        r = len(A)-1
        while l<r:
            threesum = a+A[l]+A[r]
            if threesum>0:
                r-=1
            elif threesum<0:
                l+=1
            else:
                lst.append([a,A[l],A[r]])
                l+=1
                while A[l] == A[l-1] and l<r:
                    l+=1
    return lst

In [105]:
threesum([-1,0,1,2,-1,-4])

[[-1, -1, 2], [-1, 0, 1]]

In [106]:
threesum([])

[]

**44. Group Anagrams**


Given an array of strings strs, group the anagrams together. You can return the answer in any order.

An Anagram is a word or phrase formed by rearranging the letters of a different word or phrase, typically using all the original letters exactly once.

 

Example 1:  
Input: strs = ["eat","tea","tan","ate","nat","bat"]  
Output: [["bat"],["nat","tan"],["ate","eat","tea"]]  
  
Example 2:  
Input: strs = [""]  
Output: [[""]]  

Example 3:  
Input: strs = ["a"]  
Output: [["a"]]  
 

Constraints:  

1 <= strs.length <= 104  
0 <= strs[i].length <= 100 
strs[i] consists of lower-case English letters.

In [107]:
def groupAnagrams(A):
    lst=[]
    d={}
    if len(A)==0:
        return[[]]
    
    for word in A:
        sorted_word = sorted(word)
        sorted_word = "".join(sorted_word)
        if sorted_word not in d:
            d[sorted_word] = [word]
        else:
            d[sorted_word].append(word)
            
    for value in d.values():
        value.sort()
        lst.append(value)
    
    lst.sort(key=len)
    return lst

In [108]:
groupAnagrams(["eat","tea","tan","ate","nat","bat"])

[['bat'], ['nat', 'tan'], ['ate', 'eat', 'tea']]

In [109]:
groupAnagrams([])

[[]]

In [110]:
groupAnagrams(['a'])

[['a']]

**45. Longest Palindromic Substring**

Given a string s, return the longest palindromic substring in s.

Example 1:  
Input: s = "babad"  
Output: "bab"  
Note: "aba" is also a valid answer.  

Example 2:  
Input: s = "cbbd"  
Output: "bb"  

Example 3:  
Input: s = "a"  
Output: "a"  

Example 4:  
Input: s = "ac"  
Output: "a"

In [111]:
def LPS(s):
    result=''
    resLen=0
    
    for i in range(len(s)):
        #odd len
        l,r=i,i
        while l>0 and r<len(s) and s[l]==s[r]:
            if (r-l+1)>resLen:
                result = s[l:r+1]
                resLen = r-l+1
            l-=1
            r+=1
        
        #even lenght
        l,r=i,i+1
        while l>0 and r<len(s) and s[l]==s[r]:
            if (r-l+1)>resLen:
                result = s[l:r+1]
                resLen = r-l+1
            l-=1
            r+=1
    return result

In [112]:
s="sc"
LPS(s)

'c'

In [113]:
s = "babad"
LPS(s)

'aba'

In [114]:
s = "cbbd"
LPS(s)

'bb'

**46. Increasing Triplet Subsequence**

Solution
Given an integer array nums, return true if there exists a triple of indices (i, j, k) such that i < j < k and nums[i] < nums[j] < nums[k]. If no such indices exists, return false.


Example 1:  
Input: nums = [1,2,3,4,5]  
Output: true  
Explanation: Any triplet where i < j < k is valid.  

Example 2:  
Input: nums = [5,4,3,2,1]  
Output: false  
Explanation: No triplet exists.  

Example 3:  
Input: nums = [2,1,5,0,4,6]  
Output: true  
Explanation: The triplet (3, 4, 5) is valid because nums[3] == 0 < nums[4] == 4 < nums[5] == 6.

In [115]:
def increasingTriplet(A):
    first_num = float('inf')
    second_num = float('inf')
    for n in A:
        if n<=first_num:
            first_num = n
        elif n <= second_num:
            second_num = n
        else:
            return True
    return False

**47. Python Program for Fibonacci numbers**

The Fibonacci numbers are the numbers in the following integer sequence.
0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ……..
In mathematical terms, the sequence Fn of Fibonacci numbers is defined by the recurrence relation 

    Fn = Fn-1 + Fn-2  
with seed values    

   F0 = 0 and F1 = 1.

In [116]:
def Fibonacci(n):
   
    if n < 0:
        print("Incorrect input") 
    elif n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return Fibonacci(n-1) + Fibonacci(n-2)

In [117]:
Fibonacci(9)

34

**48. Remove All Adjacent Duplicates In String**  
You are given a string s consisting of lowercase English letters. A duplicate removal consists of choosing two adjacent and equal letters and removing them.

We repeatedly make duplicate removals on s until we no longer can.

Return the final string after all such duplicate removals have been made. It can be proven that the answer is unique.

Example 1:  
Input: s = "abbaca"  
Output: "ca"  
  
Explanation:   
For example, in "abbaca" we could remove "bb" since the letters are adjacent and equal, and this is the only possible move.  The result of this move is that the string is "aaca", of which only "aa" is possible, so the final string is "ca".  
  
Example 2:  
Input: s = "azxxzy"  
Output: "ay"

In [118]:
def duplicateremoval(s):
    lst=[]
    i=0
    while i<(len(s)):
        if i==0 or s[i]!=lst[-1]:
            lst.append(s[i])
            i+=1
        else:
            lst.pop(-1)
            i+=1
    
    if len(lst)==0:
        return "Empty String"
    else:
        result = ""
        for x in lst:
            result += x
    return result

In [119]:
duplicateremoval("azxxzy")

'ay'

**49. Subarray with given sum**

Given an unsorted array A of size N that contains only non-negative integers, find a continuous sub-array which adds to a given number S.

 

Example 1:

Input:  
N = 5, S = 12  
A[] = {1,2,3,7,5}  
Output: 2 4  
Explanation: The sum of elements
from 2nd position to 4th position 
is 12.
 

Example 2:  

Input:  
N = 10, S = 15  
A[] = {1,2,3,4,5,6,7,8,9,10}  
Output: 1 5  
Explanation: The sum of elements 
from 1st position to 5th position
is 15.  
 

Your Task:  
You don't need to read input or print anything. The task is to complete the function subarraySum() which takes arr, N and S as input parameters and returns a list containing the starting and ending positions of the first such occurring subarray from the left where sum equals to S. The two indexes in the list should be according to 1-based indexing. If no such subarray is found, return an array consisting only one element that is -1.


Expected Time Complexity: O(N)  
Expected Auxiliary Space: O(1)  

Constraints:  
1 <= N <= 105  
1 <= Ai <= 1010

**50. Chocolate Distribution Problem**

Given an array of n integers where each value represents the number of chocolates in a packet. Each packet can have a variable number of chocolates. There are m students, the task is to distribute chocolate packets such that: 

+ Each student gets one packet.
+ The difference between the number of chocolates in the packet with maximum chocolates and packet with minimum chocolates given to the students is minimum.

Input : arr[] = {7, 3, 2, 4, 9, 12, 56} , m = 3   
Output: Minimum Difference is 2   
Explanation:  
We have seven packets of chocolates and 
we need to pick three packets for 3 students 
If we pick 2, 3 and 4, we get the minimum 
difference between maximum and minimum packet 
sizes.  
  
Input : arr[] = {3, 4, 1, 9, 56, 7, 9, 12} , m = 5   
Output: Minimum Difference is 6   
Explanation:
The set goes like 3,4,7,9,9 and the output 
is 9-3 = 6  
  
Input : arr[] = {12, 4, 7, 9, 2, 23, 25, 41,
30, 40, 28, 42, 30, 44, 48, 
43, 50} , m = 7   
Output: Minimum Difference is 10   
Explanation:
We need to pick 7 packets. We pick 40, 41, 
42, 44, 48, 43 and 50 to minimize difference 
between maximum and minimum.

In [120]:
def solution(A, m):
    A.sort()
    i = 0
    j = m-1
    gl_min = float('inf')
    
    while j < len(A):
        min = A[j]-A[i]
        if min < gl_min:
            gl_min = min
        i+=1
        j+=1
    
    return gl_min

In [121]:
solution([12, 4, 7, 9, 2, 23, 25, 41, 30, 40, 28, 42, 30, 44, 48, 43, 50], 7)

10

**51. Maximum and minimum of an array using minimum number of comparisons**

In [122]:
def minmax(A):
    if len(A)==1:
        min,max = A[0],A[0]

    max = float('-inf')
    min = float('+inf')
    for i in x:
        if i > max:
            max = i
        elif i < min:
            min = i
    return [min,max]

In [123]:
x = [2,5,0,6,8,-1,-5,10]

In [124]:
minmax(x)

[-5, 10]